@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";

}

@foreach(var post in CurrentPage.Children.OrderBy("CreateDate desc"))
{
	<div class="content equal blog-post-overview">
		<div class="post-date">@post.CreateDate.ToLongDateString()</div>
		<a href="@post.Url"><h3 class="post-title">@post.Name</h3></a>		
		<p class="post-blurb-overview">@Umbraco.Truncate(post.postContent, 240, true)</p>
		<a href="@post.Url" class="read-more">Read More ></a>
	</div>
}
