@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
	var home = @CurrentPage.Site();
}

<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="@CurrentPage.siteDescription">

    <title>@CurrentPage.Name | @CurrentPage._siteTitle</title>
	
	<!-- Fonts -->
	
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <header>
      <div class="container">
        <div class="inner">
          <a href="/"><img src="/library/images/coe-logo.jpg" class="logo"/></a>
          <h1 class="site-title">Analytics COE</h1>
          <div class="search">
            <input type="text" placeholder="Search"/>
          </div><!-- search -->
        </div><!-- inner -->
      </div><!-- content -->
    </header>
	
    <div class="content-top">
		  <div class="inner">
        <div class="navigation">
          <ul>
            <a href="/resources"><li class="resources"><span class="nav-text">Resources</span></li></a>
            <a href="/blog"><li class="blog"><span class="nav-text">Blog</span></li></a>
            <a href="/events"><li class="events"><span class="nav-text">Events</span></li></a>
            <a href="/about"><li class="about"><span class="nav-text">About</span></li></a>
            <a href="/contact-us"><li class="contact-us"><span class="nav-text">Contact Us</span></li></a>
          </ul>
        </div><!-- navigation -->
        <div class="page-content">
          @RenderBody()
        </div><!-- page-content -->
		  </div><!-- inner -->
	  </div> <!-- content-top -->

    <div class="clear"></div>

    <div class="content-bottom">
      <div class="inner">
        <center><img src="/library/images/insights-and-trends.png" /></center>
        <div class="blog-feed">
          <div class="blog-post">
            <span class="post-date">Date 1</span>
            <h3 class="post-title">Blog Title 1</h3>
            <p class="post-blurb">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <a class="read-more" href="#">Read More ></a>
          </div><!-- blog-post -->
          <div class="blog-post">
            <span class="post-date">Date 2</span>
            <h3 class="post-title">Blog Title 2</h3>
            <p class="post-blurb">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <a class="read-more" href="#">Read More ></a>
          </div><!-- blog-post -->
          <div class="blog-post">
            <span class="post-date">Date 3</span>
            <h3 class="post-title">Blog Title 3</h3>
            <p class="post-blurb">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <a class="read-more" href="#">Read More ></a>
          </div><!-- blog-post -->
          <div class="clear"></div>
        </div><!-- blog-feed -->
      </div><!-- inner -->
    </div><!-- content-bottom -->

    <footer>
      <div class="container">
        <div class="inner">
        </div> <!-- inner --> 
      </div> <!-- container -->
    </footer>
    
    <!-- Javascripts -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
	  <script src="/scripts/fanoe.js"></script>
  </body>
</html>